<h1>MongoDB and JSON: Using Python to Insert Data</h1>
Data is pulled from the google maps api and inserted into MongoDB.

Before running this code, make sure you've started MongoDB from your shell and connected to it, otherwise your records won't be added.
<p>On Windows and Mac: https://docs.mongodb.com/manual/mongo/</p>
<p>On Linux: https://dzone.com/articles/mongodb-commands-cheat-sheet-for-beginners</p>

In this file we will:
<ol type = '1'>  
<li>Set things up by bringing in our dependencies and connecting to MongoDB </li>
<li>Insert records using an external JSON file</li>
<li>Insert records using an API call</li>
<li>Look up records by ID</li>
<li>Look up records by string search</li>
</ol>

<h3><u>Setup</u?</h3>

In [5]:
#Dependencies

##create tables
import pandas as pd 

##Tool for converting Zip Codes into Latitude and Longitude coordinates
import pgeocode 

##Use API key
from config import gkey, okey 

##API lookup
import requests

##Reading JSONS
import json 

##Connecting and using MongoDB commands in Python
import pymongo 

##Create artificial delay if lookups cause timeouts
import time 

#Makes data readable
from pprint import pprint

In [6]:
#Connect to mongo db and create "locations_mdb" database
conn = 'mongodb://localhost:27017'
client = pymongo.MongoClient(conn)

#Create "locations_mdb" database and assign it to a variable
#(note: MongoDB automatically creates a database when you call it, so this will do both)
db = client.locations_mdb

#Creating or swithcing to a collection
clients = db["clients"]  
hotels = db["hotels"]

#Notice that the database and collections don't appear in MongoDB at this stage. This is because MongoDB does not save collections until data is loaded into them. This step isn't really necessary; the database and collections are created as they are referenced.

<h2>Method 1: Insert Data into MongoDB from an External JSON file</h2>
<p>Using a randomly generated JSON of fictional clients, we will add records to our collection.</p>

In [7]:
#Read and Parse the JSON File
myfile=open("generated.json","r")
json_file=json.load(myfile)

#Load into MongoDB
db.clients.insert_many(json_file)

<h2>Method 2: Insert Data Directly into MongoDB from the API Pull</h2>

In [35]:
# If you are looking up data from an API, you might have a table of values that you are using for your queries. Here, we will use zip code data to look up the locations of hotels in San Fransisco.

# Build the zip code reference table in PANDAS
zips_df=pd.read_csv('resources/zip_codes.csv')
zips_df.head()

,Unnamed: 0,Unnamed: 0.1,Unnamed: 0.1.1,ZIPCode,Type,County,Population,Area Code(s),Latitude,Longitude
0,0,0,0,94102,Standard,San Francisco,"31,176",415 / 510,37.7813,-122.4167
1,1,1,1,94103,Standard,San Francisco,"27,170",415 / 510 / 650,37.7725,-122.4147
2,2,2,2,94104,Standard,San Francisco,406,415 / 510 / 650 / 628,37.7915,-122.4018
3,3,3,3,94105,Standard,San Francisco,"5,846",415 / 510 / 650 / 628,37.7864,-122.3892
4,4,4,4,94107,Standard,San Francisco,"26,599",415 / 510 / 650,37.7621,-122.3971

In [28]:
#Create a collection ("hotels_full") in MongoDB and load in data from google api

#Save the api_url to a variable
api_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

#Loop through the zip code data and...
 
#-->save each lat,long pair to a variable.
for index, row in zips_df.iterrows():
    #time.sleep(0.2) #--> This prevents timeouts from pulling API data too quickly.
    target_coordinates = f"{zips_df.loc[index, 'Latitude']},{zips_df.loc[index, 'Longitude']}" 
    target_radius = 50000
    target_type = "lodging"

#--> set up a parameters dictionary
    params = {
        "location": target_coordinates,
        "radius": target_radius,
        "type": target_type,
        "key": gkey}

#--> Request a JSON using our parameters dictionary
    response = requests.get(api_url, params=params).json()
    
#-->Insert the record into MongoDB using our connected database and Mongo's "insert_one" function.
#Note: Remember that we created a variable "db" earlier to represent our database. That's where the "db" below comes from.
    for hotel in response["results"]:
        db.hotels.insert_one(hotel)

<h3>Retrieving Your Data</h3>
<p>Once you've connected to MongoDB, you can use Python to search and organize the data however you like<p>

In [62]:
#Retrieve entire collection
records=db.clients.find()
for entry in records:
    pprint(entry)

{'_id': '5fc8c59d0fe2bdfd21c0d22d',
 'about': 'Id reprehenderit ut nostrud anim reprehenderit aliqua irure '
          'occaecat aliquip occaecat aliqua aute ut amet. Officia in ad '
          'voluptate est aliquip quis labore nostrud et ullamco amet occaecat. '
          'Fugiat dolore dolore commodo reprehenderit sit id adipisicing '
          'aliquip mollit anim commodo laboris laborum velit. Elit ea non '
          'laboris elit laborum duis labore fugiat consectetur. Magna nostrud '
          'Lorem labore proident et.\r\n',
 'address': '434 Ash Street, Nutrioso, Connecticut, 9665',
 'age': 38,
 'balance': '$2,823.20',
 'company': 'ZENOLUX',
 'email': 'helenegrimes@zenolux.com',
 'eyeColor': 'blue',
 'favoriteFruit': 'banana',
 'friends': [{'id': 0, 'name': 'Estrada Walker'},
             {'id': 1, 'name': 'Lorena Becker'},
             {'id': 2, 'name': 'Leah Dominguez'}],
 'gender': 'female',
 'greeting': 'Hello, Helene Grimes! You have 10 unread messages.',
 'guid': '1757c76e-4c10-4b9c-a2a3-8db0a3743716',
 'index': 0,
 'isActive': False,
 'latitude': 16.534596,
 'longitude': -21.298452,
 'name': 'Helene Grimes',
 'phone': '+1 (820) 520-2522',
 'picture': 'http://placehold.it/32x32',
 'registered': '2020-10-12T02:36:23 +07:00',
 'tags': ['id',
          'incididunt',
          'labore',
          'laboris',
          'ipsum',
          'laboris',
          'labore']}
{'_id': '5fc8c59df2000e6c437bef8b',
 'about': 'Est sunt proident Lorem nulla mollit qui pariatur cillum ullamco '
          'aliquip commodo cillum duis sit. Qui amet do minim culpa nisi sit '
          'id elit aliquip reprehenderit cillum. Ad sunt reprehenderit et '
          'fugiat minim occaecat cupidatat id exercitation pariatur. Aute '
          'dolor laborum adipisicing nulla sunt.\r\n',
 'address': '124 Agate Court, Emison, Michigan, 6081',
 'age': 26,
 'balance': '$3,499.23',
 'company': 'HALAP',
 'email': 'lambbird@halap.com',
 'eyeColor': 'green',
 'favoriteFruit': 'strawberry',
 'friends': [{'id': 0, 'name': 'Becker Kinney'},
             {'id': 1, 'name': 'Regina Randolph'},
             {'id': 2, 'name': 'Evelyn Mathis'}],
 'gender': 'male',
 'greeting': 'Hello, Lamb Bird! You have 7 unread messages.',
 'guid': '3595cf9f-2874-4a7f-aed1-f526a534c7c1',
 'index': 1,
 'isActive': True,
 'latitude': -70.479033,
 'longitude': -163.788005,
 'name': 'Lamb Bird',
 'phone': '+1 (907) 558-3113',
 'picture': 'http://placehold.it/32x32',
 'registered': '2020-08-09T08:46:50 +07:00',
 'tags': ['laborum',
          'culpa',
          'reprehenderit',
          'pariatur',
          'exercitation',
          'nulla',
          'fugiat']}
{'_id': '5fc8c59d5fd2c767dd475516',
 'about': 'Exercitation laboris fugiat sit sint cillum incididunt. Voluptate '
          'aute officia consectetur nisi culpa nulla labore labore in '
          'adipisicing. Cupidatat do excepteur sit occaecat consectetur '
          'officia mollit id. Exercitation irure cupidatat laborum id dolor id '
          'cillum duis. Non dolore fugiat incididunt irure cupidatat nostrud '
          'ad reprehenderit do mollit fugiat do fugiat.\r\n',
 'address': '329 Evergreen Avenue, Fulford, Alabama, 3914',
 'age': 24,
 'balance': '$1,506.51',
 'company': 'MEDICROIX',
 'email': 'julietteellison@medicroix.com',
 'eyeColor': 'green',
 'favoriteFruit': 'banana',
 'friends': [{'id': 0, 'name': 'Mooney Blackwell'},
             {'id': 1, 'name': 'Hayden Watts'},
             {'id': 2, 'name': 'Dickerson Short'}],
 'gender': 'female',
 'greeting': 'Hello, Juliette Ellison! You have 5 unread messages.',
 'guid': '4929b33c-a312-4073-8dc4-0833e4d27345',
 'index': 2,
 'isActive': False,
 'latitude': 52.831844,
 'longitude': 144.667709,
 'name': 'Juliette Ellison',
 'phone': '+1 (972) 496-3357',
 'picture': 'http://placehold.it/32x32',
 'registered': '2020-01-05T12:51:12 +08:00',
 'tags': ['minim', 'occaecat', 'commodo', 'in', 'ad', 'veniam', 'veniam']}
{'_id': '5fc8c59d404bfede4557dc80',
 'about': 'Velit commodo ad fugiat elit Lorem est dolore ullamco nisi nisi '
          'reprehenderit aliquip velit. Veniam nisi reprehenderit duis '
          'reprehenderit enim deserunt exercitation. Et culpa enim aliqua eu '
          'enim eu dolore cillum elit.\r\n',
 'address': '983 Bay Street, Nogal, Florida, 2898',
 'age': 30,
 'balance': '$3,038.25',
 'company': 'BRAINCLIP',
 'email': 'mathewsmaldonado@brainclip.com',
 'eyeColor': 'brown',
 'favoriteFruit': 'apple',
 'friends': [{'id': 0, 'name': 'Clemons Pickett'},
             {'id': 1, 'name': 'Suarez Rodriquez'},
             {'id': 2, 'name': 'Wagner Martin'}],
 'gender': 'male',
 'greeting': 'Hello, Mathews Maldonado! You have 5 unread messages.',
 'guid': 'fdd9c9b7-5040-4d6b-a893-eecc2c6759a7',
 'index': 3,
 'isActive': True,
 'latitude': -55.25792,
 'longitude': 115.730574,
 'name': 'Mathews Maldonado',
 'phone': '+1 (878) 481-2827',
 'picture': 'http://placehold.it/32x32',
 'registered': '2015-06-30T12:28:44 +07:00',
 'tags': ['sint', 'proident', 'nulla', 'eu', 'ipsum', 'aliqua', 'dolor']}
{'_id': '5fc8c59dae099587f4db3628',
 'about': 'Labore nostrud cupidatat duis anim amet ad nisi. Aute in velit '
          'tempor dolor incididunt irure reprehenderit aliquip voluptate '
          'commodo do fugiat. Tempor laborum cillum et et duis cupidatat magna '
          'proident consectetur velit culpa id laboris. Dolore labore officia '
          'eu do in laborum ipsum amet fugiat nostrud. Nulla consequat '
          'proident officia aliquip qui pariatur irure anim. Sint eiusmod '
          'excepteur ipsum deserunt. Culpa sit nostrud dolor pariatur.\r\n',
 'address': '861 Polhemus Place, Statenville, Palau, 8637',
 'age': 23,
 'balance': '$3,669.33',
 'company': 'DIGIPRINT',
 'email': 'nonamcfadden@digiprint.com',
 'eyeColor': 'brown',
 'favoriteFruit': 'strawberry',
 'friends': [{'id': 0, 'name': 'Buck Cook'},
             {'id': 1, 'name': 'Sandra Mercado'},
             {'id': 2, 'name': 'Pam Kirkland'}],
 'gender': 'female',
 'greeting': 'Hello, Nona Mcfadden! You have 8 unread messages.',
 'guid': '30399b1d-d0b5-40a5-b797-0f0abebe0a0d',
 'index': 4,
 'isActive': True,
 'latitude': -40.784649,
 'longitude': 161.291811,
 'name': 'Nona Mcfadden',
 'phone': '+1 (844) 559-2238',
 'picture': 'http://placehold.it/32x32',
 'registered': '2015-04-12T12:47:00 +07:00',
 'tags': ['amet', 'occaecat', 'velit', 'ex', 'cupidatat', 'culpa', 'aliquip']}
{'_id': '5fc8c59d3fdd41504485c2ff',
 'about': 'Cupidatat amet pariatur veniam do occaecat sint anim sit laborum '
          'irure. Quis culpa consequat ut consequat consequat proident ad '
          'Lorem ex et ullamco eu magna. Aute culpa mollit sit labore nulla in '
          'est deserunt excepteur id non.\r\n',
 'address': '857 Cherry Street, Rivereno, New Jersey, 8388',
 'age': 39,
 'balance': '$3,677.07',
 'company': 'XEREX',
 'email': 'noblenewman@xerex.com',
 'eyeColor': 'green',
 'favoriteFruit': 'banana',
 'friends': [{'id': 0, 'name': 'Murray Jordan'},
             {'id': 1, 'name': 'Gallagher Monroe'},
             {'id': 2, 'name': 'Lucas Reilly'}],
 'gender': 'male',
 'greeting': 'Hello, Noble Newman! You have 6 unread messages.',
 'guid': '6bdcdce6-72f8-4e02-b131-4169177f7f95',
 'index': 5,
 'isActive': False,
 'latitude': -80.146717,
 'longitude': 130.1904,
 'name': 'Noble Newman',
 'phone': '+1 (899) 448-2102',
 'picture': 'http://placehold.it/32x32',
 'registered': '2020-02-27T12:35:25 +08:00',
 'tags': ['occaecat',
          'incididunt',
          'non',
          'proident',
          'officia',
          'Lorem',
          'nulla']}

In [19]:
#Retrieve entries by index and field value:
female_clients=db.clients.find({},{ "gender": "female"})
for entry in female_clients:
    print(entry)

{'_id': '5fc8c59d0fe2bdfd21c0d22d', 'gender': 'female'}
{'_id': '5fc8c59df2000e6c437bef8b', 'gender': 'female'}
{'_id': '5fc8c59d5fd2c767dd475516', 'gender': 'female'}
{'_id': '5fc8c59d404bfede4557dc80', 'gender': 'female'}
{'_id': '5fc8c59dae099587f4db3628', 'gender': 'female'}
{'_id': '5fc8c59d3fdd41504485c2ff', 'gender': 'female'}

In [74]:
#Retrieve entries by any field and by a range of values:
clients=db.clients.find()
for person in clients:
    balance=person["balance"]
    balance=balance.replace("$","")
    balance=balance.replace(",","")
    balance=float(balance)
    if balance > 2000:
        name=person["name"]
        age=person["age"]
        print(f"Name:{name}, Age:{age}")

Name:Helene Grimes, Age:38
Name:Lamb Bird, Age:26
Name:Mathews Maldonado, Age:30
Name:Nona Mcfadden, Age:23
Name:Noble Newman, Age:39